.navList {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 138px;
}

.footer {
  margin-bottom: 32px;
}

.navList a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.01em;
  color: var(--black);
}


@media screen and (min-width: 1024px) {

  .navList {
    flex-direction: row;
    gap: 48px;
    margin-bottom: 0;
  }

}
