.header {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  width: 100%;
  z-index: 999;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
}

.open {
  box-shadow: none;
}

.menuContainer {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  animation: slide 0.5s linear;
  position: fixed;
  width: 100%;
  background-color: var(--white);
  top: 66px;
  height: 490px;
  z-index: 998;
}

.menuContainer::after {
  content: '';
  position: absolute;
  background-color: var(--black---320-opacity);
  width: 100%;
  height: 1px;
  bottom: 144px;
  left: 0;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@keyframes slide {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.logo {
  padding-top: 25px;
  padding-bottom: 26px;
  line-height: 0;
}

.searchInput {
  outline: transparent;
  border: none;
  border-bottom: 1px solid var(--black---320-opacity);
  width: 88%;
  height: 24px;
  padding-bottom: 8px;
  margin-left: 12%;
  margin-top: 12px;
  margin-bottom: 74px;
}

.searchInput::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: var(--black---600-opacity);
}

.searchBtn {
  background-color: transparent;
  height: 16px;
}

.menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.navWrapper {
  display: flex;
  align-items: center;
  gap: 64px;
}
