.logo {
  margin-bottom: 40px;
  height: 16px;
}

.footer {
  position: relative;
  padding: 46px 0 20px 0;
}

.footer::after,
.footer::before {
  content: '';
  width: 100%;
  background-color: var(--black---320-opacity);
  height: 1px;
  position: absolute;
  bottom: 520px;
}

.footer::after {
  bottom: 107px;
}

.searchForm {
  display: none;
}

.text {
  margin-top: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
  max-width: 344px;
}

.form {
  margin-left: -6px;
  position: relative;
  margin-bottom: 44px;
  max-width: 405px;
}

.input {
  background-color: var(--black---80-opacity);
  border: none;
  border-radius: 999px;
  width: 100%;
  height: 43px;
  outline: transparent;
  font-weight: 300;
  font-size: 14px;
  line-height: 166%;
  letter-spacing: 0.01em;
  padding: 0 16px;
}

.btn {
  border-radius: 99px;
  width: 143px;
  height: 43px;
  background: var(--yellow);
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
  letter-spacing: 0.01em;
  color: var(--white);
  position: absolute;
  right: 0;
  top: 0;
}

.footerList {
  display: flex;
  gap: 24px;
  margin-bottom: 19px;
}

.footerList a {
  font-weight: 300;
  font-size: 14px;
  line-height: 166%;
  letter-spacing: 0.01em;
}

.rights {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 166%;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 1024px) {
  .logo {
    margin-bottom: 0;
  }

  .footer {
    background-color: var(--white);
  }

  .footerContainer {
    position: relative;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .searchForm {
    display: block;
    position: relative;
  }

  .searchInput {
    outline: transparent;
    border: none;
    border-bottom: 1px solid var(--black);
    width: 320px;
    height: 24px;
    padding-bottom: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
    background-color: transparent;
  }

  .searchBtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer::before {
    display: none;
  }

  .footer::after {
    content: '';
    width: 100%;
    background-color: var(--black---320-opacity);
    height: 1px;
    position: absolute;
    bottom: 64px;
  }

  .text {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .form {
    margin-left: 0;
    margin-bottom: 60px;
  }

  .privacyContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 193px;
  }

  .footerList {
    display: flex;
    gap: 24px;
    margin-bottom: 0;
  }
}
