.aboutMe {
  padding: 48px 0 104px 0;
}

 .aboutMeContainer {
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

.title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 145%;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.01em;
}

.imgList {
  position: relative;
  height: 318px;
  width: 100%;
}
.imgItem:nth-child(1) {
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 6px;
  width: 153px;
  height: 222px;
}

.imgItem:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 198px;
  height: 318px;
  z-index: 2;
}

.imgItem:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 154px;
  height: 154px;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  
  .imgList {
  height: 508px;
  width: 523px;
}
.imgItem:nth-child(1) {
  width: 245px;
  height: 354px;
}

.imgItem:nth-child(2) {
  width: 316px;
  height: 508px;
}

.imgItem:nth-child(3) {
  width: 246px;
  height: 246px;
}
}

@media screen and (min-width: 1024px) {
  .aboutMe {
    padding: 113px 0 196px 0;
  }

  .title {
    margin-bottom: 32px;
    font-size: 33px;
  }

  .list {
    gap: 20px;
  }

}

@media screen and (min-width: 1512px) {
  .aboutMeContainer {
    flex-direction: row;
  }

.text {
   max-width: 618px;
  }
}